/* Mohammad Kazemi 301313841  COMP229 - Web Application Development Assignment 1 CSS file */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2em;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
}

header {
    background-color: #FFA500;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 2em 0;
    text-align: center;
}

footer {
    background-color: #FFA500;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #ffffff;
    border: 0;
}

.contact-form input[type="submit"]:hover {
    background-color: #444;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: #333 !important;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2em;
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.project-link {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #333;
    background-color: #f4a261;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #e76f51;
}