<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>My Portfolio</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <h2>My Projects</h2>
        <div class="project">
          <h4>Project 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            vehicula.
          </p>
        </div>
        <div class="project">
          <h4>Project 2</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            vehicula.
          </p>
        </div>
        <!-- Add more projects as needed -->
      </div>
    </main>
    <footer>
      <div class="container">&copy; 2023 Mohammad Kazemi</div>
    </footer>
  </body>
</html>
