<!-- Mohammad Kazemi 301313841  COMP229 - Web Application Development Assignment 1 -->

<!DOCTYPE html>
<html>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
      <main>
        <h2>Welcome to My Portfolio</h2>
        <p>
          Welcome to Mohammad Kazemi's portfolio! I'm a dedicated Software
          Technology - AI student who is passionate about using technology to
          solve complex problems. With a background in web development and a
          strong interest in AI, I'm always looking for the next big challenge.
          Explore my portfolio to learn more about me, my projects, and the
          services I offer. Let's build something amazing together!
        </p>

        <!-- <a href="/about" class="btn btn-primary">About Me</a>
        <a href="/projects" class="btn btn-primary">My Projects</a> -->
      </main>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
