<!-- Mohammad Kazemi 301313841  COMP229 - Web Application Development Assignment 1 -->
<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="container">
      <h2>My Services</h2>
      <ul class="services-list">
        <li>Web Development</li>
        <li>Mobile App Development</li>
        <li>Data Analysis</li>
        <li>Machine Learning</li>
      </ul>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
