body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFAFA;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #FFA500;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #FF4500 3px solid;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    float: left;
    font-size: 24px;
    color: #FFF;
}

.logo {
    float: left;
    width: 60px;
    padding: 5px;
    margin-top: 10px;
}

.main {
    min-height: 400px;
    background: #FFF;
    padding: 20px;
}

footer {
    background: #FFA500;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.service {
    width: 30%;
    float: left;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.contact-info,
.contact-form {
    width: 45%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

.g-recaptcha {
    margin: 10px 0;
}